<!-- 
<footer class="bg-dark text-white text-center py-3 mt-auto">
  <div>
      <p class="p_del_footer">&copy; 2024 Leo Cur. Todos los derechos reservados.</p>
     
  </div>
</footer> -->
<footer class="bg-dark text-white py-3">
  <div class="footer-content">
    <!-- Texto de copyright centrado -->
    <p class="mb-0 text-center">&copy; 2024 Leo Cur. Todos los derechos reservados.</p>
    <!-- Iconos de redes sociales alineados a la derecha -->
    <div class="footer-icons">
      <a href="https://x.com/leocur" target="_blank">
        <img src="/resources/img/x100.png" alt="twitter" class="social-icon">
      </a>
      <a href="https://www.instagram.com/leo_cur/" target="_blank">
        <img src="/resources/img/pngegg.png" alt="instagram" class="social-icon">
      </a>
    </div>
  </div>
</footer>
